@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Martian+Mono:wght@500&family=Roboto+Slab&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-hex: #FFF8F0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-hex: #121212;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-hex);
}
h1{
  font-family: 'Bebas Neue';
}